body{
	margin: 0;
	background: color(steelblue blackness(20%));
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.icon-twitter{
	font-size: 20em;
	color:color(steelblue blackness(35%));
	text-shadow: 1px 1px #000,
				 2px 2px #000,
				 3px 3px #000,
				 4px 4px #000,
				 5px 5px #000,
				 6px 6px #000,
				 7px 7px #000,
				 8px 8px #000,
				 9px 9px #000,
				 10px 10px #000,
				 11px 11px #000,
				 12px 12px #000,
				 13px 13px #000,
				 14px 14px #000,
				 15px 15px #000,
				 16px 16px #000,
				 17px 17px #000,
				 18px 18px #000;
}