@function long-shadow($numero, $color){
	$box-shadow:1px 1px #{$color};
	@for $i from 1 through $numero{
		$box-shadow:'#{$box-shadow},
					#{$i}px #{$i}px #{$color}';
	}
	@return unquote($box-shadow);
}

@import 'https://fonts.googleapis.com/css?family=Oswald';
body{
	margin:0;
	padding: 0;
	font-family: Oswald;
	background: tomato;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	
}

.long-shadow{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: grey;
	box-shadow:long-shadow(500, rgba(#000,.5));
}